<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/zoobar/media/bulletin.css">
        <title>
          Bulletin Service
        </title>
    </head>
    <body>
      <h1>Bulletin</h1>
      <h2>Receipt Log and Lookup</h2>
      {% block main %}
      <div id="main" class="centerpiece">
        <table>
          <tr><td class="main">
            {% block content %}{% endblock %}
          </td></tr>
        </table>
      </div>
      {% block postscript %}{% endblock %}
      {% endblock %}
    </body>
</html>
