{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="homepage">
  <b>Balance:</b> {{ balance if balance > 0 else 0 }} bitcoins<br />

  <b>Current Address:</b> {{ address }}
  <form method="GET" name="addressform">
    <input type="submit" name="new_address" value="Get New Address"/>
  </form>
  <br />

  <b>Current Client Key:</b> {{ key }}<br />
  <form method="POST" name="keyform">
      New Client Key: <input type="text" name="client_key" />
      <input type="submit" name="update_key" value="Update">
  </form>
</div>
{% endblock %}