{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<b>Balance:</b> {{ balance if balance > 0 else 0 }} bitcoins<br />
<b>Current Address:</b> {{ address }}
<form method="GET" name="addressform">
  <input type="submit" name="new_address" />
</form>
<br />
<b>Current Client Key:</b> {{ key }}<br />
<form method="POST" name="keyform">
    New Client Key: <input type="text" name="client_key" />
    <input type="submit" name="update_key" value="update">
</form>
{% endblock %}