<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/zoobar/media/guarantor.css">
        <title>
          CheckBits
        </title>
    </head>
    <body>
        {% if g.user and g.user.person %}
        {% set person = g.user.person %}
        {% set person_zoobars = g.user.zoobars %}
        {% set balance = g.user.bank.balance %}
        <div id="header">
          <div><a href="{{ url_for('logout') }}">Log out {{ person.username }}</a></div>
        </div>
        {% endif %}
      <h1><a href="{{ url_for('index') }}">CheckBits</a></h1>
      <h2>A Guarantor System for Bitcoin</h2>
      {% block main %}
      <div id="main" class="centerpiece">
        <table>
          <tr><td class="main">
            {% block content %}{% endblock %}
          </td></tr>
        </table>
      </div>
      {% block postscript %}{% endblock %}
      {% endblock %}
    </body>
</html>
